doctype html
html
  head
    script(type='text/javascript', src='js/jquery-1.11.3.js')
    title Mon Shooter Multi!
  script(type='text/javascript', src='js/socket.io.js')
  //- style.
  //-   body {
  //-   cursor:none;
  //-   }
  script(type='text/javascript').
    window.addEventListener('DOMContentLoaded', function(){
    var HTMLBallonElement;
    var collision;
    var tabScore = [];
    var score = 0;
    var scorre = document.getElementById("score");
    var scoreAdverse = document.getElementById("scoreAdv");
    var socket = io('http://127.0.0.1:1010');
    socket.on('creerLesAutresViseurs', function(data){
    for(index in data){
    var HTMLScopeElement = window.document.getElementById(data[index].id);
    if(!HTMLScopeElement){
    var HTMLScopeElement = window.document.createElement('img');
    HTMLScopeElement.setAttribute("src", "scope2.png");
    HTMLScopeElement.style.zIndex = 1;
    HTMLScopeElement.id = data[index].id;
    window.document.body.appendChild(HTMLScopeElement);
    }
    HTMLScopeElement.style.top =  data[index].top;
    HTMLScopeElement.style.left =  data[index].left;
    HTMLScopeElement.style.width =  data[index].width;
    HTMLScopeElement.style.height =  data[index].height;
    HTMLScopeElement.style.position =  data[index].position;
    HTMLScopeElement.style.backgroundColor =  data[index].backgroundColor;
    }
    });
    socket.on('detruireViseur', function(data){
    var HTMLScopeElement = window.document.getElementById(data.id);
    if(HTMLScopeElement){
    HTMLScopeElement.remove();
    };
    });
    //Creation du viseur CLIENT
    socket.on('creerMonViseur', function(data){
    HTMLScopeElement = window.document.getElementById(data.id);
    if(!HTMLScopeElement){
    var HTMLScopeElement = window.document.createElement('img');
    HTMLScopeElement.setAttribute("src", "scope1.png");
    HTMLScopeElement.id = data.id;
    HTMLScopeElement.style.zIndex = 1;
    window.document.body.appendChild(HTMLScopeElement);
    }
    window.addEventListener('mousemove', function(event){
    HTMLScopeElement.style.top = (event.clientY - (parseFloat(HTMLScopeElement.style.height)/2)) + 'px';
    HTMLScopeElement.style.left = (event.clientX - (parseFloat(HTMLScopeElement.style.width)/2)) + 'px';
    socket.emit('changementPositionDeMonViseur',{
    id : HTMLScopeElement.id,
    top : HTMLScopeElement.style.top,
    left : HTMLScopeElement.style.left
    });
    function collisionBallons(){
    if(parseInt(HTMLScopeElement.style.left) >= parseInt(HTMLBallonElement.style.left) + parseInt(HTMLBallonElement.style.width)
    || parseInt(HTMLScopeElement.style.left) + parseInt(HTMLScopeElement.style.width) <= parseInt(HTMLBallonElement.style.left)
    || parseInt(HTMLScopeElement.style.top) >= parseInt(HTMLBallonElement.style.top) + parseInt(HTMLBallonElement.style.height)
    || parseInt(HTMLScopeElement.style.top) + parseInt(HTMLScopeElement.style.height) <= parseInt(HTMLBallonElement.style.top)){
    collision = false;
    return false;
    } else {
    collision = true;
    return true;
    }
    };
    collisionBallons();
    });
    HTMLScopeElement.style.top = data.top;
    HTMLScopeElement.style.left = data.left;
    HTMLScopeElement.style.width = data.width;
    HTMLScopeElement.style.height = data.height;
    HTMLScopeElement.style.position = data.position;
    // HTMLScopeElement.style.backgroundColor = data.backgroundColor;
    });
    socket.on('creerSonViseur', function(data){
    var HTMLScopeElement = window.document.getElementById(data.id);
    if(!HTMLScopeElement){
    var HTMLScopeElement = window.document.createElement('img');
    HTMLScopeElement.setAttribute("src", "scope2.png");
    HTMLScopeElement.id = data.id;
    HTMLScopeElement.style.zIndex = 1;
    window.document.body.appendChild(HTMLScopeElement);
    }
    HTMLScopeElement.style.top = data.top;
    HTMLScopeElement.style.left = data.left;
    HTMLScopeElement.style.width = data.width;
    HTMLScopeElement.style.height = data.height;
    HTMLScopeElement.style.position = data.position;
    });
    socket.on('changementPositionDeSonViseur', function(data){
    var HTMLScopeElement = window.document.getElementById(data.id);
    if(HTMLScopeElement){
    HTMLScopeElement.style.top = data.top;
    HTMLScopeElement.style.left = data.left;
    };
    });
    /*****/
    socket.on('apparitionMesBallons', function(data){
    for(index in data){
    HTMLBallonElement = window.document.getElementById(data[index].id);
    if(!HTMLBallonElement){
    HTMLBallonElement = window.document.createElement('img');
    HTMLBallonElement.id = data[index].id;
    HTMLBallonElement.style.position = data[index].position;
    HTMLBallonElement.style.height = data[index].height;
    HTMLBallonElement.style.width = data[index].width;
    HTMLBallonElement.style.display = data[index].display;
    window.document.body.appendChild(HTMLBallonElement);
    }
    }
    });
    socket.on('positionMesBallons', function(data){
    HTMLBallonElement.setAttribute("src", data[index].backgroundImage);
    HTMLBallonElement.style.top = data[index].top;
    HTMLBallonElement.style.left = data[index].left;
    });
    document.onclick = function(){
    if(collision){
    HTMLBallonElement.remove();
    score = score + 1;
    scorre.innerHTML = score;
    socket.emit('disparitionBallons', {
    score
    });
    };
    };
    socket.on('disparitionAllBallons', function(data){
    HTMLBallonElement.remove();
    scoreAdverse.innerHTML = data.score;
    });
    });
  body
    h1 Western shooter
    div
      p#pseudo  Votre score : 
      #score
    div
      p#foePseudo  Score adverse : 
      #scoreAdv    
